doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
		title Document
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro__contenido
				h2 Título Principal
				p
					| Lorem ipsum dolor sit amet.
					| Lorem ipsum dolor sit amet.
					| Lorem ipsum dolor sit amet.
					span Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, voluptatibus!
				a.boton Leer Mas